$font-prefix: "./custom/path/to/font/files";
@import "node_modules/@ibm/plex/scss/ibm-plex.scss";
@tailwind base;
@tailwind components;
@tailwind utilities;

@media (min-width: 320px) {
  body {
    padding: 3%;
  }
}

body {
  margin-top: 50px;
}
